---
import Section from '@/components/Sections.astro'
import {basics} from '@cv'
const {about} = basics
---

<Section title="Acerca de mí">
    <p>{about}</p>
</Section>

<style>
    p{
        font-size: .9rem;
    }
    
</style>