---
import Section from '@/components/Sections.astro'

import {skills} from '@cv'
---

<Section title="Skills">
    <ul>
        {
            skills.map(( {name}) => (
                <li>
                    <span>{name}</span>
                </li>
                )
            )
        }
    </ul>
</Section>

<style>
    ul{
        display: flex;
        
    }
    span{
        padding: .3rem;
        border: 1.5px solid;
        border-radius: 5px;
        color: #8B5FBF;
    }
    span:hover{
        background-color: #E9E4ED;
    }
</style>