---
import Section from '@/components/Sections.astro'

import {skills} from '@cv'
---

<Section title="Skills">
    <ul>
        {
            skills.map(( {name}) => (
                <li>
                    <span>{name}</span>
                </li>
                )
            )
        }
    </ul>
</Section>

<style>
    ul{
        display: flex;
        flex-wrap: wrap;
    }

    li{
        margin-right: 5px;
        margin-bottom: 17px;
        border: 1.5px solid #8B5FBF;
        color: #8B5FBF;
        border-radius: 5px;
        padding: .3rem;
    }
</style>